@using RidersApp.ViewModels
@model CityVM

@{
    Layout = null;
}

<form asp-action="AddOrEdit" asp-controller="Cities" method="post" onsubmit="return ajaxFormSubmit(this);">
    <div class="form-group mb-3">
        <label asp-for="CityName"></label>
        <input asp-for="CityName" class="form-control" />
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="CountryId" class="control-label"></label>
        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries">
            <option value="">-- Select Country --</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="CityId" />
    <button type="submit" class="btn btn-success">
        <i class="fas fa-save"></i> Save
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}