@model RidersApp.ViewModels.FineOrExpenseTypeVM
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return ajaxFormSubmit(this)">
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                <label asp-for="Name" class="form-label">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Fine/Expense Type name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> 
                    @(Model.Id == 0 ? "Save" : "Update")
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}