@using RidersApp.ViewModels
@model IEnumerable<ConfigurationVM>

<table id="configurationsTable" class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th class="action-column-small"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.KeyName</td>
                    <td>@item.Value</td>
                    <td>
                        <div class="btn-action-container">
                            <a onclick="showInPopup('@Url.Action("AddOrEdit", "Configurations", new { id = item.ConfigurationId })', 'Edit Configuration')"
                               class="btn-action-edit" title="Edit Configuration">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            @* <a onclick="deleteRecord('Configurations', @item.ConfigurationId)"
                               class="btn-action-delete" title="Delete Configuration">
                                <i class="fas fa-trash"></i> Delete
                            </a> *@
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center text-muted">No configurations available</td>
            </tr>
        }
    </tbody>
</table>
