@using RidersApp.ViewModels
@model IEnumerable<CountryVM>

<table id="countriesTable" class="table table-dark table-striped table-hover datatable">
    <thead>
        <tr>
            <th>Name</th>
            <th class="action-column-small">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <div class="btn-action-container">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Countries", new { id = item.CountryId })', 'Edit Country')" 
                           class="btn-action-edit" title="Edit Country">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a onclick="deleteRecord('Countries', @item.CountryId)" 
                           class="btn-action-delete" title="Delete Country">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
