@using RidersApp.ViewModels
@model EmployeeVM
@{
    Layout = null; 
}

<form asp-action="AddOrEdit" asp-controller="Employees" method="post" onsubmit="return ajaxFormSubmit(this);">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FatherName"></label>
        <input asp-for="FatherName" class="form-control" />
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNo"></label>
        <input asp-for="PhoneNo" class="form-control" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <textarea asp-for="Address" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId" class="control-label"></label>
        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries">
            <option value="">-- Select Country --</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" class="form-control" asp-items="ViewBag.Cities">
            <option value="">-- Select City --</option>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="EmployeeId" />
    <div class="form-group mt-2 text-end">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
